################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/What i know/.vs/What i know/v16/Server/sqlite3
